@model ZipcodeViewModel

<div class="text-center">
    <div class="row">
        <div class="col-lg-12 data-stack">
            <p><span>Zipcode:</span> @Model.Zipcode</p>
            <p><span>City:</span> @Model.City</p>
            <p><span>State:</span> @Model.State</p>
            <p><span>Distance from Mindgrub:</span> @Model.Distance miles</p>
        </div>
    </div>
</div>
